body {
  background-color: #e3e3e3;
}
p {
  text-align: justify;
  margin: 10px 0 !important;
  font-size: 14px;
}
.col-flex {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
.section-divider {
  text-align: center;
}
.list-default li {
  list-style-type: disc !important;
  margin: 5px 0;
  font-size: 14px;
}
.list-default {
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 5px !important;
}
.blockquote-item {
  display: block;
  margin: 5px 0;
}
.card .card-title {
  font-size: 20px;
  font-weight: 500;
}
.card .card-subtitle {
  display: block;
  font-size: 14px;
  font-weight: 500;
}
.card .card-subtitle-container {
  padding-left: 10px;
}
.collapsible-header {
  padding: 5px 20px;
}
.collapsible-body {
  padding: 5px 25px;
}
.material-icons {
  vertical-align: middle;
  font-size: 3.56rem;
  margin-right: 10px;
}
.section {
  padding: 10px 0 !important;
}
.section-divider h3 {
  vertical-align: middle;
}
.nav-container {
  display: flex;
  justify-content: center;
}

/* ABOUT */
.section-box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  max-width: 750px;
  max-height: 475px;
}
.profile {
  width: 100%;
  padding: 57px 50px 0 50px;
}
.profile-photo img {
  width: 100%;
  display: block;
}
.profile-social {
  padding: 12px 0;
  /* background-color: #07cb79; */
  height: 55px;
}
.profile-list {
  margin-left: 25px;
}
.profile-list .title {
  display: block;
  width: 100px;
  float: left;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.profile-list .cont {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
}
.profile-list li {
  margin-bottom: 15px;
}
.profile-info {
  color: #3d4451;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dedede;
  margin-left: 25px;
}
.profile-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
}
.profile-title span {
  font-weight: 300;
}
.profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (max-width: 992px) {
  .section-box {
    max-height: none !important;
  }

  .profile {
    padding: 35px 20px 15px 20px;
  }

  .profile-list .title {
    width: 70px;
  }

  .profile-info {
    margin-left: 0;
  }
  .profile-list {
    margin-left: 0;
  }
}

.profile-social i {
  margin: 0 !important;
}
.profile-social span {
  margin: 0 10px;
}

/* SKILLS */
.skill-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
}

/* EDUCATION */
.timeline-img {
  max-width: 100%;
  max-height: 400px; /* adjust as needed */
  object-fit: contain;
}
